<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../wwwroot/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>

        <input type="text" class="seach-input" placeholder="Поиск видео..." />
    </header>

    <aside id="sidebar">
        <div class="navbar">
        <a href="/"><p>Все трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
            </div>
    </aside>

    <div class="bordered">
        <!--<a href="https://www.youtube.com/watch?v=h1wly909BYw"><button>Мосвка</button></a>
        <a href="https://www.youtube.com/watch?v=rnXIjl_Rzy4"><button>Нью-Йорк</button></a>
        <a href="https://www.youtube.com/watch?v=WKGK_hYnlGE"><button>Лондон</button></a> !-->

        <div class="video-container">
            <!--Москва-->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h1wly909BYw?si=KVFDD7bl7lP1ntww"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3 class="video-title">Москва</h3>
        </div>

        <div class="video-container">
            <!--Нью-Йорк-->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rnXIjl_Rzy4?si=eoNPQ63CojVTUdBo"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк</h3>
        </div>

        <div class="video-container">
            <!--Лондон-->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WKGK_hYnlGE?si=l0sVinyuQK_cXPh6"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3 class="video-title">Лондон</h3>

            <footer>
                <p>LifeSpot - все права защищены</p>
                <p>Связаться с нами: contact@lifespot.ru</p>
            </footer>
        </div>
    </div>
</body>
</html>