/* Свойства стиля элемента. Подробнее о них - в модуле по CSS */
.review-container, .review-button{
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}



.review-text{
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.bordered {
    border: 2px solid black;
    background-color: azure;
    padding: 10px;
}

.video-container {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar p{
    color: darkgray;
    padding-left: 15%;
}

.seach-input {
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
}

.seach-input:focus {
    border-color: blue;
    background-color: lightyellow;
    outline: none;
}

.swiper {
    width: 70vw;
    height: 55vh;
    margin-top: 20px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
        color: black;
        padding-left: 1%;
        padding-top: 1.2%;
}

footer {
    flex-shrink: 0;
    background-color: #eee;
    color: dimgrey;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

aside {
    height: 120%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    color: white;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-left: 10px;
    padding-top: 20px;
}

body {
    padding-left: 11%;
}

.navbar p:hover{
    color: aliceblue;
}

header, footer, aside, body, .navbar, .video-container {
    font-family: "Halvetica 65 Medium", sans-serif;
}

header, footer, body, .video-container, .bordered{
    background-color: cyan;
}

